{
    "semi": true,
    "tabWidth": 4,
    "printWidth": 144,
    "overrides": [
        {
            "files": "*.svg",
            "options": {
                "parser": "html"
            }
        }
    ]
}
