---
import Layout from "../layouts/Layout.astro";
import Navbar from "../components/Navbar.astro";
import Footer from "../components/Footer.astro";

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout>
    <header class="shadow-2xl">
        <Navbar />
    </header>
    <main class="flex-grow">
        <h1>Welcome to the Admin Panel</h1>
    </main>
    <footer>
        <Footer />
    </footer>
</Layout>
